input.ng-invalid {
    border-color: #CA8B8A;
}

select.ng-invalid {
    border-color: #CA8B8A;
}

textarea.ng-invalid {
    border-color: #CA8B8A;
}

.post-box {
    background-color: #fff;
    padding: 10px;
    border-radius: 2px;
    box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-top: 20px;
}

.post-box .post-title {
    font-size: 1.1em;
    font-weight: 600;
    color: #2980b9;
    text-transform: uppercase;
    text-align: left;
    line-height: 1.4em;
    margin: 0;
}

.post-box span a {
    color: #f39c12;
}

.post-box .post-body {
    margin-top: 9px;
    color: #868f98;
    font-weight: 400;
    font-size: 1em;
    line-height: 1.8em;
    margin-bottom: 1em;
}

.post-page-title {
    color: #2c3e50;
    font-size: 27px;
    margin-left: 11px;
}

.user-widget {
    position: absolute;
    left: 21px;
    top: 89px;
    width: 14%;
}

.author-widget{
    position: absolute;
    left: 21px;
    top: 72px;
    width: 14%;
}