<div class="author-widget">
    <div class="panel panel-warning">
        <div class="panel-heading">About Post Author</div>
        <div class="panel-body">
            <div class="media ng-scope">
                <div class="media-left">
                    <i class="fa fa-user-circle" style="font-size: 60px;"></i>
                </div>
                <div class="media-body">
                    <h4 class="media-heading ng-binding" style="color:#f39c12;">{{user.name}}</h4>
                    <p style="line-height:18px;" class="ng-binding">({{user.username}})</p>
                    <p class="badge">{{user.email}}</p>
                </div>
            </div>
        </div>
    </div>
</div>